<% provide(:title, 'Dashboard') %>
<% content_for :custom_header do %>
  <%= render 'layouts/admin_header' %>
<% end %>
<main class="sidebar-main">
  <div class="header-block"></div>
<p id="notice"><%= notice %></p>

<h1>
  Hi, <%= @admin.username %>
</h1>

<h1>Pending Users</h1>
    <% user = User.all %>
    <% pending_users = [] %>
    <% approved_users = [] %>
    <% denied_users = [] %>
      <% user.each do |u| %>
      <% if u.confirmation_status = 0 %>
        <% pending_users.push(u)%>
      <% elsif u.confirmation_status = 1%>
        <% approved_users.push(u)%>
      <% else%>
        <% denied_users.push(u)%>
      <% end %>
    <% end %>

<tbody>
  <div class="table">
    <!-- show pending users -->
    <% pending_users.each do |u| %>
      <tr color="white">
        <h2>User ID: <%= u.id%></h2>
        <p>Email: <%= u.email%></p>
        <p>Name: <%= u.firstname%> <%= u.lastname%> </p>
        <p>Zip Code: <%= u.zip_code%></p>
        <% if u.role == 1%>
          <p>Requested: Driver</p>
        <% else %>
          <p>Requested: Washer</p>
        <% end %>
        <%= link_to 'Approve this User', root_path, class: 'btn btn-success'%>
        <%= link_to 'Deny this User', root_path, class: 'btn btn-danger'%>
      </tr>
    <% end %>
    </div>
</tbody>

<h1>Approved Users</h1>
<tbody>
  <div class="table">
      <!-- show approved users -->
    <% approved_users.each do |u| %>
      <tr color="white">
        <h2>User ID: <%= u.id%></h2>
        <p>Email: <%= u.email%></p>
        <p>Name: <%= u.firstname%> <%= u.lastname%> </p>
        <p>Zip Code: <%= u.zip_code%></p>
        <% if u.role == 1%>
          <p>Role: Driver</p>
        <% else %>
          <p>Role: Washer</p>
        <% end %>
      </tr>
    <% end %>
  </div>
</tbody>

<h1>Denied Users</h1>
<tbody>
  <div class="table">
    <!-- show denied_users -->
    <% denied_users.each do |u| %>
    <tr color="white">
      <h2>User ID: <%= u.id%></h2>
      <p>Email: <%= u.email%></p>
      <p>Name: <%= u.firstname%> <%= u.lastname%> </p>
      <p>Zip Code: <%= u.zip_code%></p>
      <% if u.role == 1%>
        <p>Role: Driver</p>
      <% else %>
        <p>Role: Washer</p>
      <% end %>
    </tr>
  <% end %>

  </div>
</tbody>

<h1>All Users</h1>
<tbody>
  <div class="table">
  <!-- show all users -->
  <% user.each do |u| %>
  <tr color="white">
    <h2>User ID: <%= u.id%></h2>
    <p>Email: <%= u.email%></p>
    <p>Name: <%= u.firstname%> <%= u.lastname%> </p>
    <p>Zip Code: <%= u.zip_code%></p>
    <% if u.role == 1%>
      <p>Role: Driver</p>
    <% else %>
      <p>Role: Washer</p>
    <% end %>
  </tr>
<% end %>


  </div>
</tbody>





<%= link_to 'Edit', edit_admin_path(@admin) %>
<%= link_to 'Back', admins_path %>
<%= link_to 'Log Out', admin_logout_path, method: :delete, class: 'btn btn-primary'%>

</main>
