<% provide(:title, "Welcome") %>
<div class="header-block"></div>
<html lang="en">
  <body>
    <div class="container flex-center">
      <div class="text-center ">
        <form class="form-signin">
          <%= image_tag "loopie_logo.svg" %>
          <h1 class="h3 mb-3 font-weight-normal text-light">Loopie Laundry</h1>

          <!-- <button class="btn btn-lg btn-primary btn-block rounded-circle" type="submit">Sign in</button> -->
          <%= link_to "Washer Sign In", washer_login_path, class: 'btn btn-lg btn-primary btn-block' %>
          <%= link_to "Driver Sign In", driver_login_path, class: 'btn btn-lg btn-primary btn-block' %>
          <%= link_to "New Washer", new_washer_path, class: 'btn btn-lg btn-primary btn-block' %>
          <%= link_to "New Driver", new_driver_path, class: 'btn btn-lg btn-primary btn-block' %>
          <p class="mt-5 mb-3 text-muted text-light">&copy; 2017-2018</p>
        </form>
      </div>
    </div>
  </body>
</html>
