<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row  center-header">
    <h1 class="">Pick up Laundry</h1>
    <p>Tap laundry loads you want to pick up.</p>
  </div>
</div>
<div class="container-fluid loads-container">
  <% @loads.each do |load| %>
    <div class="card">
      <div class="card-body">
        <div>
          <span class="customer-name">
            <b>Brandon</b>
          </span>
          <span class="customer-address">
            <b>762 30th Ave</b>
          </span>
          <span class="card-footer">4.20 miles away | load ID: 420</span>
        </div>
        <div class="select-load">
          <button type="button" class="btn btn-outline-primary">Select Load</button>
        </div>
      </div>
    </div>
  <% end %>
    <tbody>
      <% @loads.each do |load| %>
        <tr>
          <td><%= load.status %></td>
          <td><%= link_to 'Show', load %></td>
          <td><%= link_to 'Edit', edit_load_path(load) %></td>
          <td><%= link_to 'Destroy', load, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>
<div class="row new-load">
  <%= link_to 'New Load', new_load_path, class: "new-load-link" %>
</div>
