<% provide(:title, "Washer Login") %>
<html lang="en">
  <body>
    <div class="container flex-center">
      <div class="text-center ">
      <%= image_tag "loopie_logo.svg", :class => "logo" %>
        <%= form_for(:washer_session, url: washer_login_path) do |f| %>
          <h1 class="h3 login-header mb-3 font-weight-normal text-light">Loopie Washer</h1>

          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control", placeholder: "Email address" %>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" , placeholder: "Password"  %>

          <div class="checkbox mb-3 text-light">
            <label>
              <input type="checkbox" value="remember-me">
              Remember Me
            </label>
          </div>

          <%= f.submit "Log in", class: "btn btn-primary login-button" %>

          <p class="mt-5 mb-3 text-muted text-light">&copy; 2017-2018</p>

          <!-- <a href="/drivers/new/">Register</a> -->
          <!-- add link_to link please -->
        <% end %>
      </div>
    </div>
  </body>
</html>
