<% provide(:title, "Driver Login") %>
    <div class="container flex-center">
      <div class="text-center ">
        <%= form_for(:driver_session, url: driver_login_path, html: {class: 'form-signin'}) do |f| %>
          <%= image_tag "loopie_logo.svg" %>
          <h1 class="h3 mb-3 font-weight-normal text-light">Loopie Driver</h1>


          <%= f.text_field :email, class: 'form-control', placeholder: "enter your email"  %>

          <%= f.password_field :password, class: 'form-control', placeholder: "password"  %>

          <div class="checkbox mb-3 text-light">
            <label class='remember-me'>
              <input type="checkbox" value="remember-me">
              Remember Me
            </label>
          </div>

          <%= f.submit "Log in", class: "btn btn-primary" %>

          <p class="mt-5 mb-3 text-muted text-light">&copy; 2017-2018</p>

          <%= link_to "Register as a washer", new_washer_path , class: "dropdown-item washer-register-link" %>
        <% end %>
      </div>
    </div>
