<p id="notice"><%= notice %></p>

<h1>Washers</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Machine description</th>
      <th>Washing status</th>
      <th>Confirmation status</th>
      <th>Max loads</th>
      <th>Current loads</th>
      <th>Total loads completed</th>
      <th>Start date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @washers.each do |washer| %>
      <tr>
        <td><%= washer.username %></td>
        <td><%= washer.password %></td>
        <td><%= washer.firstname %></td>
        <td><%= washer.lastname %></td>
        <td><%= washer.email %></td>
        <td><%= washer.phone %></td>
        <td><%= washer.address_1 %></td>
        <td><%= washer.address_2 %></td>
        <td><%= washer.city %></td>
        <td><%= washer.state %></td>
        <td><%= washer.zip_code %></td>
        <td><%= washer.machine_description %></td>
        <td><%= washer.washing_status %></td>
        <td><%= washer.confirmation_status %></td>
        <td><%= washer.max_loads %></td>
        <td><%= washer.current_loads %></td>
        <td><%= washer.total_loads_completed %></td>
        <td><%= washer.start_date %></td>
        <td><%= link_to 'Show', washer %></td>
        <td><%= link_to 'Edit', edit_washer_path(washer) %></td>
        <td><%= link_to 'Destroy', washer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Washer', new_washer_path %>
