<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @washer.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @washer.password %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @washer.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @washer.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @washer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @washer.phone %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @washer.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @washer.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @washer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @washer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @washer.zip %>
</p>

<p>
  <strong>Machine description:</strong>
  <%= @washer.machine_description %>
</p>

<p>
  <strong>Washing status:</strong>
  <%= @washer.washing_status %>
</p>

<p>
  <strong>Confirmation status:</strong>
  <%= @washer.confirmation_status %>
</p>

<p>
  <strong>Max loads:</strong>
  <%= @washer.max_loads %>
</p>

<p>
  <strong>Current loads:</strong>
  <%= @washer.current_loads %>
</p>

<p>
  <strong>Total loads completed:</strong>
  <%= @washer.total_loads_completed %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @washer.start_date %>
</p>

<%= link_to 'Edit', edit_washer_path(@washer) %> |
<%= link_to 'Back', washers_path %>
