<% provide(:title, 'Driver Sign Up') %>
<div class="form-shared">
  <%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %>
        prohibited this driver from being saved:</h2>

      <ul>
        <% driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>

    <div class="container flex-center container-light">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="">Account Information</h2>
            <div class="hr-small"></div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">

          <div class="form-group">
            <label>Enter Your Username</label>
            <%= form.text_field :username , class: 'form-control',placeholder: :username %>
          </div>

          <div class="form-group">
            <label>Email Address</label>
            <%= form.text_field :email , class: 'form-control', placeholder: :email %>
          </div>

          <div class="form-group">
            <label>Password</label>
            <%= form.text_field :password , class: 'form-control',placeholder: :password %>
          </div>

          <div class="form-group">
            <label>Password</label>
            <%= form.text_field :password_confirmation , class: 'form-control',placeholder: :password_confirmation %>
          </div>

        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label>First Name</label>
            <%= form.text_field :firstname , class: 'form-control',placeholder: :firstname %>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <%= form.text_field :lastname , class: 'form-control',placeholder: :lastname %>
          </div>

          <div class="form-group">
            <label>Phone Number</label>
            <%= form.text_field :phone , class: 'form-control',placeholder: :phone %>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Address</label>
            <%= form.text_field :address , class: 'form-control',placeholder: :address %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>City</label>
            <%= form.text_field :city , class: 'form-control',placeholder: :city %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>State</label>
            <%= form.text_field :state, class: 'form-control',placeholder: :state%>
          </div>
        </div>
      </div>
    </div>
    <div class="container flex-center container-light">

      <div class="row">

        <div class="col-md-12 text-center">
          <h2 class="">Car Info</h2>
          <div class="hr-small"></div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">

          <div class="form-group">
            <label>Car Year</label>
            <%= form.text_field :license_plate , class: 'form-control',placeholder: :license_plate %>
          </div>

          <div class="form-group">
            <label>Car Make</label>
            <%= form.text_field :car_make , class: 'form-control',placeholder: :car_make %>
          </div>

          <div class="form-group">
            <label>Car Model</label>
            <%= form.text_field :car_model , class: 'form-control',placeholder: :car_model %>
          </div>

          <div class="form-group">
            <label>Car Color</label>
            <%= form.text_field :car_make , class: 'form-control',placeholder: :car_make %>
          </div>

        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>License Plate</label>
            <%= form.text_field :license_plate , class: 'form-control',placeholder: :license_plate %>
          </div>

          <!--change to image upload-->
          <div class="form-group">
            <label>Driver's License Image</label>
            <%= form.file_field :avatar %>
          </div>

          <div class="form-group">
            <label>Description</label>
            <%= form.text_area :description, size: '50x2', class: "form-control form-text-area",placeholder: :description %>
          </div>
          <div class="form-group">
            <label>Insurance</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <div class="form-group button-group">
            <label>Start Date</label>
            <%= select_date Date.today, prefix: :start_date, class: ""%> <!-- date selector, ugly as hell please change css as my eyes are burning -->
          </div>
        </div>

      </div>

      <!-- <div class="form-group"> <label>Driving Status</label> <%= form.text_field :username , class: 'form-control',placeholder: :username %> </div> <div class="form-group"> <label>Confirm Status</label> <%= form.text_field :username , class:
      'form-control',placeholder: :username %> </div> -->

      <!-- <div class="form-group"> <label>Current Loads</label> <%= form.text_field :current_loads , class: 'form-control',placeholder: :current_loads %> </div> -->

      <!--change to input/dropdown menu? see if there's calendar function -->

    </div>
  <div class="container">
    <div class='row'>
      <div class='col-md-4 col-md-offset-4'>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">example checkbox</label>
        </div>
        <div class="">
          <%= form.submit'Register', :class => 'btn btn-lg btn-primary btn-block rounded-circle'%>

        </div>
      </div>
    </div>
</div>

  </div>
</form>
<% end %>
</div>
