<div class="container flex-center">
  <div class="row">
    <div class="col-md-12">
      <div class="img-big round"></div>
      <h1><%= :firstname%> <%=  :lastname%></h1>
      <p class="text-light">Loopie Driver |
        <%= :car_color%> <%= :car_make %> <%=:car_model%>
      </p>
    </div>
  </div>

</div>

<div class="container">
  <button></button>
</div>

<div class="container container-light">
  <div class="row">
    <div class="col-xs-6">
      <h1>Stats</h1>
    </div>
    <div class="col-xs-3">
      <h3>Monthly</h3>
      <h2>$300</h2>

    </div>
    <div class="col-xs-3">
      <h3>All Time</h3>
      <h2>$5.2k</h2>
    </div>
  </div>
</div>
