<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @driver.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @driver.password %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @driver.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @driver.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @driver.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @driver.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @driver.address %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @driver.insurance %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @driver.license_plate %>
</p>

<p>
  <strong>Car year:</strong>
  <%= @driver.car_year %>
</p>

<p>
  <strong>Car make:</strong>
  <%= @driver.car_make %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @driver.car_model %>
</p>

<p>
  <strong>Car color:</strong>
  <%= @driver.car_color %>
</p>

<p>
  <strong>Driver license img:</strong>
  <%= @driver.driver_license_img %>
</p>

<p>
  <strong>Description:</strong>
  <%= @driver.description %>
</p>

<p>
  <strong>Current loads:</strong>
  <%= @driver.current_loads %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @driver.start_date %>
</p>

<p>
  <strong>Driving status:</strong>
  <%= @driver.driving_status %>
</p>

<p>
  <strong>Confirmation status:</strong>
  <%= @driver.confirmation_status %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
