<% provide(:title, 'Driver Profile') %>
<p id="notice"><%= notice %></p>


<div class="header-block"></div>
<div class="container container-top">
<div class="col-md-4">
    <div class="row flex-center">
      <div class="col-md-12 profile">
        <div class="img-big round"></div>
        <h1><%= :firstname%>
          <%= :lastname%></h1>
        <p class="text-light">Loopie Driver |
          <%= :car_color%>
          <%= :car_make %>
          <%=:car_model%>
        </p>
        <p>
        <%= link_to 'Edit', edit_driver_path(@driver) %> |</p>
      </div>
</div>

  </div>
  <div class="col-md-8 profile">
    <button class="btn btn-primary btn-lg btn-block">Start delivering Laundry</button>
  </div>
  <div class="col-md-8 ">
    <div class="row container-light">
      <div class="col-xs-4">
        <h1>Stats</h1>
      </div>
      <div class="col-xs-4">
        <h3>Monthly</h3>
        <h2>$300</h2>
        <h3>Monthly</h3>
        <h2>$300</h2>

      </div>
      <div class="col-xs-4">
        <h3>All Time</h3>
        <h2>$5.2k</h2>
        <h3>All Time</h3>
        <h2>$5.2k</h2>
      </div>
    </div>

  </div>

</div>


<%= link_to 'Back', drivers_path %>
