<header>
  <nav class="navbar navbar-dark navbar-loopie fixed-top navbar-expand-md">
      <%= link_to "Loopie LLC", root_path , class: "navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <%= link_to "Login", login_path, class: "nav-link"%><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Info
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <%= link_to "About", about_path, class: "dropdown-item" %>
            <%= link_to "Help", help_path, class: "dropdown-item"%>
            <%= link_to "Driver Guidelines", driver_guidelines_path, class: "dropdown-item" %>
            <%= link_to "Washer Guidelines", washer_guidelines_path, class: "dropdown-item" %>
            <div class="dropdown-divider">
                <%= link_to "Contacts", contact_path,class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>

    </div>
  </nav>
</header>
